/*Accueil*/
body{
    display: flex;
    flex-direction: column;
    height:165vh;
    margin: 0;
}

main{
    display: flex;
    flex-direction: row;
    height : 100%;
}

/*Partie Titre*/

.Titre{
    display: flex;
    height: 25vh;
    flex-wrap: wrap;
}

.funnel_part{
    display: flex;
    flex-direction: row;
    background-color: skyblue;
    width: 100%;
    height: 100%;
}

funnel{
    background-color: rgb(177, 181, 185);
    width: 2.5%;
    height: 70%;
}

.conveyer_part{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: skyblue;
    width: 95%;
    height: 80%;
}

marquee{
    align-self: flex-end;
    height: 40%;
    margin-top: 2%;
}

marquee h1{
    font-family: "Orbitron", sans-serif;
    font-size:65px;
    margin: 0 0 0 0;
}

conveyer{
    background-color: grey;
    height: 25px;
    width: 100%;
    margin-bottom: 2%;
}

sol{
    height: 5vh;
    width: 100%;
    background-color: rgb(180, 180, 180);
}

/*Navbar*/

aside{
    position: sticky;
    height: 100vh;
    top: 0px;
    display: flex;
    justify-content: center; /* horizontal */
    width: 10%;
    background-color: rgb(255, 200, 97) 10%;
    background: linear-gradient(
    to right,
    lightgray 0px,
    lightgray 10%,
    transparent 10%,
    transparent 90%,
    lightgray 90%
  ),
  repeating-linear-gradient(
    to top,
    rgb(255, 200, 97) 0%,
    rgb(255, 200, 97) 20%,
    lightgray 20%,
    lightgray 25%
  );
}

aside ul{ 
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    list-style: none;
    padding: 0;
}

aside li{
    align-self: self-end;
    justify-self: center;
    font-size: 1.7vw;
    margin-bottom: 10%;
    font-family: "Orbitron", sans-serif
}

a{
    list-style: none;
    font-style:normal;
    text-decoration: none;
    color: black;
}

a:visited {
    color: blue;
}


/*Partie principale*/

content{
    background-color: skyblue;
    height: 100%;
    width: 90%;
}


section{
    display: flex;
    height: 50vh;
}

div{
    display: flex;
    background-color: lightgray;
    justify-content: center;
    align-items:center;
    
}

.desc{
    justify-content: space-around;
    flex-wrap: wrap;
}

.desc div{
        border :thick solid rgb(194, 113, 8);
        height:70%;
        width:75%;
        margin:5% 15% 0 15%;
        background: repeating-linear-gradient(
        0deg,
        rgb(92, 92, 92),
        rgb(92, 92, 92) 10px,
        rgb(70, 70, 70) 10px,
        rgb(70, 70, 70) 20px
    );
    color: white;
    font-size: 2.5vw;
    font-family: monospace;
    text-align: center;
    }
    

poteaux{
    height:20%;
    width: 25px;
    background-color: orange;
}

.competences{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 75vh;
    justify-content: space-between;
    background-color: rgb(85, 85, 85);
    background: radial-gradient(at 50% 1% , 
    lightyellow 5% , 
    lightgrey 20%, 
    grey 60%);
}

neon{
    align-self: center;
    height: 5%;
    width: 25%;
    background-color: yellow;
    border-radius: 0px 0px  20px  20px ;
    margin-top: 0.55%;
}

support{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    height: 65%;
}

suptop{
    background-color: orange;
    width: 100%;
    height : 5%;
}

supbottom{
    background-color: orange;
    width: 100%;
    height : 5%;
}

panneaux{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
}


panneaux div{
    display: flex;
    flex-direction: column;
    border :thick solid rgb(194, 113, 8);
    background: repeating-linear-gradient(
        0deg,
        rgb(92, 92, 92),
        rgb(92, 92, 92) 10px,
        rgb(70, 70, 70) 10px,
        rgb(70, 70, 70) 20px
    );
    color: white;
    height: 100%;
    width: 50%;
    text-align: center;
}

.java{
    margin-right: 5%;
        font-size: 1.5vw;
}

.python{
    margin-left: 5%;
        font-size: 1.5vw;
}

.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: grey;
}

.logos img{
    flex-shrink: 2;
}

.logos conveyer {
    margin-bottom: 5%;
    background-color: rgb(85, 85, 85);
}

/*footer*/

footer{
    background-color: rgb(97, 187, 40);
    height: 10vh;
    width: 100%;
}


/*projets*/

.Bproject{
    height: 310vh;
    color: radial;
}

.Bproject .funnel_part{
    height: 80%;
}

.Bproject marquee{
    margin-top: 2%;
    height: 45%;
}

.Bproject h1{
    height: 75%;
}


.Bproject sol{
    align-self: flex-end;
    width: 100%;
}

/*Compétences nationales*/
mur{
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: repeat(6,1fr);
    margin-top: 2%;
    background-color: yellow;
    grid-column:2 ;
    grid-row-start:1;
    grid-row-end:3;
    height: 100%;
}

.CGdesc p{
    display: none;
    text-align: justify;
    font-size: 2vw;
    font-weight: 600;
    font-variant: small-caps;
}


input{
    align-self: center;
    justify-self: center;
    appearance: none;
    cursor: pointer;
    height: 33%;
    width: 30%;
    border-radius: 50%;
}

input:checked {
    cursor: default;
}

#Bc1{
    background: radial-gradient(
        circle at center,
        rgb(233, 89, 89) 40%,
        rgba(252, 98, 98, 0.788) 100%
    );
    border:thick solid rgb(252, 98, 98, 0.788);
}

#Bc1:checked{
    background: radial-gradient(
        circle at center,
        rgba(255, 143, 143, 0.788) 40%,
        rgb(233, 89, 89) 100%
    );
    border: none;
}

#Bc1:checked ~ .CGdesc .Tc1{
    display: block;
   
}

#Bc2{
    background: radial-gradient(
        circle at center,
        red 40%,
        rgb(253, 0, 0) 100%
    );
    border:thick solid red;
}

#Bc2:checked{
    background: radial-gradient(
        circle at center,
         rgb(243, 102, 102) 40%,
        rgb(253, 0, 0) 100%
    );
    border: none;
}

#Bc2:checked ~ .CGdesc .Tc2{
    display: block;
}

#Bc3{
    background: radial-gradient(
        circle at center,
        rgb(150, 145, 145) 100%
    );
    border:thick solid rgb(119, 117, 117);
}

#Bc3:checked{
    background: radial-gradient(
        circle at center,
         rgb(255, 255, 255) 40%,
        rgb(136, 135, 135) 100%
    );
    border: none;
}

#Bc3:checked ~ .CGdesc .Tc3{
    display: block;
}

#Bc4{
    background: radial-gradient(
        circle at center,
        rgb(0, 141, 0) 100%
    );
    border:thick solid green;
}

#Bc4:checked{
    background: radial-gradient(
        circle at center,
         rgb(0, 255, 0) 40%,
       rgb(0, 141, 0) 100%
    );
    border: none;
}

#Bc4:checked ~ .CGdesc .Tc4{
    display: block;
}

#Bc5{
    background: radial-gradient(
        circle at center,
        rgb(67, 67, 248) 100%
    );
    border:thick solid blue;
}

#Bc5:checked{
    background: radial-gradient(
        circle at center,
         rgb(145, 145, 255) 40%,
       rgb(67, 67, 248) 100%
    );
    border: none;
}

#Bc5:checked ~ .CGdesc .Tc5{
    display: block;
}

#Bc6{
    background: radial-gradient(
        circle at center,
        rgb(121, 56, 0) 100%
    );
    border:thick solid rgb(88,41,0);
}

#Bc6:checked{
    background: radial-gradient(
        circle at center,
         rgb(219, 108, 10) 40%,
       rgb(121, 56, 0) 100%
    );
    border: none;
}

#Bc6:checked ~ .CGdesc .Tc6{
    display: block;
}

.Pcontent > :nth-child(2) sol{
    grid-column-start:1 ;
    grid-column-end: 7 ;
}

/*Autres descriptions*/

.Pcontent > *:not(:first-child){
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 75% 15% 10%;
    grid-template-columns: repeat(4,1fr);
}

.Pcontent > :nth-child(2){
    height: 70vh;
    grid-template-rows: 65% 25% 10%;
    grid-template-columns: 12.5% 75% 12.5%;
}

.Pcontent > *:not(:first-child) div{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 5%;
    max-height: 90%;
    max-width: 95%;
    padding:0 5% 0 5%;
    border :thick solid rgb(194, 113, 8);
    background: repeating-linear-gradient(
        0deg,
        rgb(92, 92, 92),
        rgb(92, 92, 92) 10px,
        rgb(70, 70, 70) 10px,
        rgb(70, 70, 70) 20px
    );
    font-size: 1.6vw;
    color: white;
    font-family: monospace;
    text-align: justify;
    text-wrap:initial;
    font-family: "JetBrains Mono", monospace;
}


.Pcontent > :nth-child(2) div{
    grid-column-start:1 ;
    grid-column-end: 7 ;
    grid-row: 1;
    max-width: 100%;
    height: 100%;
    margin-top: 0;
}

.Pcontent >:nth-child(3),
.Pcontent >:nth-child(5){
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 15% 75% 10%;
    grid-template-columns: 25% 25% 25% 25%;
}

.Pcontent >:nth-child(3) div,
.Pcontent >:nth-child(5) div{
    grid-row: 2;
    grid-column-start: 3;
    grid-column-end: 5;
    margin-top: 0;
    margin-bottom: 5%;
}

.Pcontent >:nth-child(4) .ExtendComp,
.Pcontent >:nth-child(6) .ExtendComp{
    grid-row: 1;
    grid-column:3;
    margin-top: 10%;
    margin-bottom: 0;
    border-left: 0;
    width: 33%;
    height: 60%;
    justify-self: left;
    align-self:center;
    font-size: 1.3vw;
    text-align: center;
}


.Pcontent >:nth-child(3) .ExtendComp,
.Pcontent >:nth-child(5) .ExtendComp{
    grid-row: 2;
    grid-column:2;
    margin-top: 0;
    margin-bottom: 10%;
    width: 33%;
    height: 60%;
    justify-self: right;
    align-self:center;
    font-size: 1.3vw;
    text-align: center;
    border-right: 0;
}

.Bproject poteaux{
    height: 100%;
    grid-row:2;
    justify-self: center;
}

.Pcontent >:nth-child(3) .Pg,
.Pcontent >:nth-child(5) .Pg{
    grid-row: 1;
    grid-column: 3;
}

.Pcontent >:nth-child(3) .Pd,
.Pcontent >:nth-child(5) .Pd{
    grid-row: 1;
    grid-column: 4;
}

.Pcontent >:not(:first-child) sol {
    grid-row: 3;
    grid-column-start:1;
    grid-column-end:last;
    height: 100%;
}




